<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="images/logo.png" width="130px">
        </div>
        <div class="menu">
            <li><a href="">ĐIỆN THOẠI</a>
                <ul class="sub-menu">
                    <li><a href="">iPhone</a></li>
                    <li><a href="">Samsung</a></li>
                    <li><a href="">OPPO</a></li>
                    <li><a href="">Xiaomi</a></li>
                    <li><a href="">Lenovo</a></li>
                </ul>
            </li>
            <li><a href="">MÁY TÍNH</a></li>
            <li><a href="">PHỤ KIỆN</a></li>
            <li><a href="">HỖ TRỢ</a></li>
        </div>
        <div class="others">
            <li><input type="text" placeholder="Tìm kiếm"><i class="fas fa-search"></i></li>
            <li><a class="fa fa-shopping-bag"></a></li>
            <li><a class="fa-solid fa-user"></a></li>
        </div>
    </header>
    <section id="Slider">
        <div class="aspect-ratio-169">
            <img src="images/slide1.jpg">
            <img src="images/slide2.webp">
            <img src="images/slide3.jpg">
        </div>
        <div class="dot-container">
            <div class="dot active"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </section>
    <div class="footer">
        <div class="footer-top">
            <li><a href=""><img src="images/footer-logo.png" alt=""></a></li>
            <li><a href="">Liên hệ</a></li>
            <li><a href="">Tuyển dụng</a></li>
            <li><a href="">Giới thiệu</a></li>
            <li>
                <a href="" class="fab fa-facebook"></a>
                <a href="" class="fab fa-instagram"></a>
                <a href="" class="fab fa-youtube"></a>
            </li>
        </div>
        <div class="footer-center">
            <p>
                Trường Cao đẳng FPT Polytechnic Đà Nẵng <br>
                Địa chỉ: 137 Nguyễn Thị Thập, Thanh Khê Tây, Liên Chiểu, Đà Nẵng - 024 7300 1955 <br>
                Đặt hàng Online: <b>024 7300 1955</b>
            </p>
        </div>
        <div class="footer-bottom">
            &copy; SO1 All rights reserved
        </div>
    </div>
</body>
<script src="js/slider.js"></script>

</html>