<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/headerCss.css">

	<title>Document</title>
</head>

<body>
	<div th:replace="~{/fragments/header :: header}"></div>
	<section class="delivery">
		<div class="container">
			<div class="delivery-top-wrap">
				<div class="delivery-top">
					<div class="delivery-top-delivery delivery-top-item">
						<i class="fas fa-shopping-cart"></i>
					</div>
					<div class="delivery-top-address delivery-top-item">
						<i class="fas fa-map-marker-alt"></i>
					</div>
					<div class="delivery-top-payment delivery-top-item">
						<i class="fas fa-money-check-alt"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="delivery-content row">
				<div class="delivery-content-left">
					<p>Vui lòng chọn địa chỉ giao hàng</p>
					<div class="delivery-content-left-dangnhap row">
						<i class="fas fa-sign-in-alt"></i>
						<p>Đăng nhập (Nếu bạn đã có tài khoản)</p>
					</div>
					<div class="delivery-content-left-khachle row">
						<input checked name="loaikhach" type="radio">
						<p><span style="font-weight: bold;">Khách lẻ</span> (Nếu bạn không muốn lưu lại thông tin)</p>
					</div>
					<div class="delivery-content-left-dangky row">
						<input name="loaikhach" type="radio">
						<p><span style="font-weight: bold;">Đăng ký</span> (Tạo mới tài khoản với thông tin bên dưới)
						</p>
					</div>
					<div class="delivery-content-left-input-top row">
						<div class="delivery-content-left-input-top-item">
							<label for="">Họ tên<span style="color: red;">*</span></label>
							<input type="text">
						</div>
						<div class="delivery-content-left-input-top-item">
							<label for="">Điện thoại<span style="color: red;">*</span></label>
							<input type="text">
						</div>
						<div class="delivery-content-left-input-top-item">
							<label for="">Tỉnh/Tp<span style="color: red;">*</span></label>
							<input type="text">
						</div>
						<div class="delivery-content-left-input-top-item">
							<label for="">Quận/Huyện<span style="color: red;">*</span></label>
							<input type="text">
						</div>
					</div>
					<div class="delivery-content-left-input-bottom">
						<label for="">Địa chỉ<span style="color: red;">*</span></label>
						<input type="text">
					</div>
					<div class="delivery-content-left-button row">
						<a href=""><span>&#171</span>
							<p>Quay lại giỏ hàng</p>
						</a>
						<button>
							<p style="font-weight: bold;">THANH TOÁN VÀ GIAO HÀNG</p>
						</button>
					</div>
				</div>
				<div class="delivery-content-right">
					<table>
						<tr>
							<th>Tên sản phẩm</th>
							<th>Giảm giá</th>
							<th>Số lượng</th>
							<th>Thành tiền</th>
						</tr>
						<tr>
							<td>iPhone 16 Pro Max</td>
							<td>-0%</td>
							<td>1</td>
							<td>
								<p>34.790.000<sup>đ</sup></p>
							</td>
						</tr>
						<tr>
							<td>iPhone 16 Pro Max</td>
							<td>-0%</td>
							<td>1</td>
							<td>
								<p>34.790.000<sup>đ</sup></p>
							</td>
						</tr>
						<tr>
							<td>iPhone 16 Pro Max</td>
							<td>-0%</td>
							<td>1</td>
							<td>
								<p>34.790.000<sup>đ</sup></p>
							</td>
						</tr>
						<tr>
							<td style="font-weight: bold;" colspan="3">Tổng</td>
							<td style="font-weight: bold;" colspan="3">
								<p>104.370.000<sup>đ</sup></p>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</section>
	<div th:replace="~{/fragments/footer :: footer}"></div>
</body>
<script src="/assets/js/script.js"></script>
</html>