<footer>
		<div class="footer-top">
			<li><a href=""><img src="/assets/images/footer-logo.png" alt=""></a></li>
			<li><a href="">Liên hệ</a></li>
			<li><a href="">Tuyển dụng</a></li>
			<li><a href="">Giới thiệu</a></li>
			<li>
				<a href="" class="fab fa-facebook"></a>
				<a href="" class="fab fa-instagram"></a>
				<a href="" class="fab fa-youtube"></a>
			</li>
		</div>
		<div class="footer-center">
			<p>
				Trường Cao đẳng FPT Polytechnic Đà Nẵng <br>
				Địa chỉ: 137 Nguyễn Thị Thập, Thanh Khê Tây, Liên Chiểu, Đà Nẵng - 024 7300 1955 <br>
				Đặt hàng Online: <b>024 7300 1955</b>
			</p>
		</div>
		<div class="footer-bottom">
			&copy; SO1 All rights reserved
		</div>
	</footer>